@model Week18_Lezione1_Esercitazione.Models.AdminData

@{
    ViewBag.Title = "Index";
}
<div class="mt-3">
    @using (Html.BeginForm("Index", "LoginForm", new { Area = "" }, FormMethod.Post))
    {
        <div class="row row-cols-1">
            <div class="col">
                @Html.LabelFor(model => model.Username, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Username, new { @class = "form-text" })
            </div>
        </div>
        <div class="row row-cols-1 mb-3">
            <div class="col">
                @Html.LabelFor(model => model.Password, new { @class = "form-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Password, new { @class = "form-text" })
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    }

</div>
